Test-Command: node -e "require('uglify-js/tools/node');"
Depends:
 node-uglify-js,
 nodejs,
Restrictions: superficial

Test-Command: node -e "
 require('/usr/share/javascript/uglify-js/uglify');
 require('/usr/share/javascript/uglify-js/uglify.min');
 "
Depends:
 libjs-uglify-js,
 nodejs,
Restrictions: superficial

Test-Command: cd /usr/share/javascript &&
 eslint --no-eslintrc --format tap --env browser uglify-js/*.js
Depends:
 eslint,
 libjs-uglify-js,
 node-js-yaml,
Restrictions: superficial, skip-not-installable

Test-Command: prove debian/tests/*.t
Depends:
 libtest-command-simple-perl,
 perl,
 uglifyjs,
